<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결과</title>
  </head>
  <style>
    table {
      width: 500px;
    }
    td {
      padding: 10px;
      border: 1px solid #666666;
      text-align: center;
    }
  </style>
  <body>
    <table border="2">
      <th>메뉴</th>
      <th>득표 수</th>
      <% for(var i = 0; i< rows.length; i++) { %>
      <tr>
        <td><%=rows[i].menu_name %></td>
        <td><%=rows[i].cnt_menu %></td>
      </tr>
      <%}%>
    </table>
  </body>
</html>
